/* proporção do notebook */
@media (max-width: 1025) {
    main {
        #sobre .container {
            padding: 30px;

            .container .textoSobre a {
                width: 40%;
            }



        }

        #blog {
            .container {
                max-width: 580px;
                height: 42%;

                a {
                    width: 35%;
                }
            }
        }

        #explore .container .cardExplore {

            width: 280px;

        }
    }
}

@media (max-width: 769px) {

    main {

        #sobre {

            height: 800px;


            .container {
                flex-direction: column-reverse;

                .textoSobre {
                    height: 50%;
                    width: 100%;
                    align-items: center;
                }

                .figure {
                    height: 50%;
                    width: 100%;
                }
            }
        }

        #explore {
            height: 150dvh;

            .container {
                flex-direction: column;

                .cardExplore {
                    margin: 15px;
                    padding: 10px;
                }
            }
        }
    }
}

@media(max-width:480px) {
    main {
        #sobre {
            height: 110dvh;

            .container {
                padding
            }
        }
    }
}